* {
  box-sizing: border-box;
}

body {
  font-family: Georgia;
  background-color: #242424;
  color: #ffffff;
}

p {
  margin-top: 15px;
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.gallery-container {
  margin: 30px;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.photo-card {
  margin: 5px;
  padding: 20px;
  background-color: #242424;
  border-radius: 8px;
}

.gallery-card-link {
  display: block;
  text-decoration: none;
}

.gallery-img {
  min-width: 270px;
  min-height: 220px;
  max-width: 270px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(215, 212, 212, 0.323),
    0 6px 20px 0 rgba(165, 164, 164, 0.19);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background: #5daef1;
  color: #fff;
  border: 1px solid #999797;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(241, 234, 234, 0.323),
    0 4px 4px 0 rgba(189, 188, 188, 0.19);
  text-shadow: none;
  font-size: 18px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.search-input {
  height: 50px;
  flex-grow: 1;
  font-size: 18px;
  padding: 5px 5px 5px 15px;
  border: 1px solid #999797;
  border-radius: 20px;
  background-color: #cccaca;
  box-shadow: 0 4px 4px 0 rgba(241, 234, 234, 0.323),
    0 4px 4px 0 rgba(189, 188, 188, 0.19);
  text-shadow: none;
  font-size: 18px;
  outline: none;
  color: #2f2e2e;
}

.search-input:hover {
  background-color: #ffffff;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.search-btn:hover,
.load-more:hover {
  background: #016abc;
  color: #fff;
  border: 1px solid #999797;
  border-radius: 20px;
  text-shadow: none;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.load-more {
  margin: 20px auto;
  margin-bottom: 50px;
  width: 200px;
}
